<html>  
 <head>  
  <title>Register</title>  
 </head>  
 <body> 
  <form id = "register_form" method = "POST" action = "/success_reg">  
       <table>
             <tr><td>Username</td><td><input type = 'username' name = 'username'></td></tr>  
             <tr><td>Email</td><td><input type = 'email' name = 'email'></td></tr>  
             <tr><td>Password</td><td><input type = 'password' name = 'pass'></td></tr> 
             {{ script_alert|safe }} 
             <tr><td><input type = "submit" value = "Submit"></td></tr>  
         </table>   
     </form>  
 </body>  
 </html> 